<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>打包系统</title>
</head>
<body>
<div>
    <p><strong><b>请选择版本号</b></strong><br />
    {%  if error_message %}<p><strong>{{ error_message }}</strong></p>{%  endif %}
    <form method="post" name="Mainform" >
        {% for version in version_list %}
            {% if forloop.counter0|divisibleby:"3" %}
                <br />
            {% endif %}
            <input type="radio" name="choice"  id="version{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"/>
            <label for="choice{{ forloop.counter0 }}">{{ version }}</label>
        {% endfor %}
    <hr />
        <p>请选择公司    请选择版本(2.6.7以上版本有效)</p>
        <select name="company">
            {% for l in list %}
                <option value="{{ l }}">{{ l }}</option>
        {% endfor %}
        </select>
        <select name="packages">
            {% for i in package %}
                {% if i == "znv" %}
                    <option value="{{ i }}">预创建</option>
                {% elif i == "liyuan" %}                 
                    <option value="{{ i }}">同步</option>
                {% elif i == "normal" %}
                    <option value="{{ i }}">通用</option>  
                {% elif i == "cangyu" %}
                    <option value="{{ i }}">文件系统目录</option>   
                {% elif i == "fc" %}
                    <option value="{{ i }}">光纤</option>   
                {% endif %}
        {% endfor %}
        </select>        
        <input type="submit"  name="compi" value="编译打包并下载"/>
        <br/>

        <p>公司未存在时请点击</p>
        <input type="submit" name="add" value="添加公司名"/>
    </form>
<a href="http://192.168.2.181:8001/replace" >去替换图标界面</a>
<hr/>
<h3>>已有公司列表</h3>
<table border="3">
<tr>
    {% for l in list %}

    <td>
    <img src="/static/server/{{ l }}.png" width="150" height="50" alt="{{ l }}"/>
        <br />
    <b>{{ l }}</b>
    </td>
        {% if forloop.counter|divisibleby:"4" %}
    </tr>
        {% endif %}
        {% if forloop.counter|divisibleby:"4" %}
    <tr>
        {% endif %}
{% endfor %}
</tr>
</table>
</div>
</body>
</html>
